<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1>Terms & Conditions</h1>
<div class="container">
    <div class="span12">
      <p>
        - MPC offers a wide selection of non-controlleds meds and top selling controlled ones. Affiliates are free to offer any of these as long as the sale is done using MPC's official base price.
      </p>
      <p>
        - MPC ships mainly from India (EMS Standard Delivery, 7-12 business days), but a selected assortment of top meds is available for shipping from within USA. Prices for USA-USA shipments are the same as the medications from India. However, the amount of pills per order is limited to 90 (180 for some med)if they are shipped from USA (USPS Priority Mail, 3-5 business days).
      </p>
      <p>
        - Commissions are paid at a 40% rate over the product cost, and are independent of the volume of sales. This is true for phone orders only. Online orders at any of our websites are paid at 25% rate, and do not require verification.
      </p>
      <p>
        - Upsell is allowed at all times as long as it does not exceed the permitted quantities. Downsell is authorized only in selected cases, offering the following discounts (in that order): 5% discount, 10% free pills and free shipping. Please use discounts only if necessary, as our prices undergo a constant benchmarking process in order to secure competitive prices.
      </p>
      <p>
        - Returning customers get free shipping and 20% free pills or 10% discount.
      </p>
      <p>
        - Payouts are done weekly (10 days initial arrear) through a debit Mastercard, which is shipped to you after your affiliation has been accepted. In selected cases and upon approval, we also offer PayPal, international bank transfer or money orders (Western Union or MoneyGram), depending on the amounts. The provided card has internet banking access to check balances and transactions, and can be used internationally at any ATM, online or at any store.
      </p>
      <p>
        - Affiliates get their own affiliate panel, which they use in order to upload sales and keep track of their accounts. Information such as commissions, order status, reports, invoices and other relevant campaign information is kept up to date on the platform.
      </p>
      <p>
        - All types of cards are accepted. Order status is updated once every 2 hours. Packages are shipped within 24 hours after the payment has been successfully processed, and tracking number is provided within 36 hours after that.
      </p>
      <p>
        - Confirmations are sent to customers upon successful or failed payment processing events and shipment status updates. Moreover, an initial order verification is performed before processing any sale. This verification process applies for new affiliates, and can be waived after a certain time based on account performance (chargeback ratio), sales volume and other key aspects that demonstrate a healthy account status. No verified orders by our team (via phone or email) are processed.
      </p>
      <p>
        - When a chargeback occurs, the associated commission is deducted from the affiliate. The chargeback penalty fee is covered by MPC ($85).
      </p>
      <p>
        - Refunds to customers are only possible within 24 hours before the order has been shipped.
      </p>
    </div>
</div>
</div>