
                <h3 class="page-header">Dashboard</h3>

                <div class="row placeholders">
                  <div class="col-md-2">
                    <div class="pallete-item">
                      <dl class="palette palette-peter-river">
                        <dt>Total Volume</dt>                        
                      </dl>
                      <dl class="palette palette-belize-hole">
                        <dt>$11,226.61</dt>
                        <dd><small>View More</small></dd>
                      </dl>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="pallete-item">
                      <dl class="palette palette-alizarin">
                        <dt>Approved</dt>                        
                      </dl>
                      <dl class="palette palette-pomegranate">
                        <dt>$8,714.00</dt>
                        <dd><small>View More</small></dd>
                      </dl>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="pallete-item">
                      <dl class="palette palette-sun-flower">
                        <dt>Declined</dt>                        
                      </dl>
                      <dl class="palette palette-orange">
                        <dt>$2,512.61</dt>
                        <dd><small>View More</small></dd>
                      </dl>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="pallete-item">
                      <dl class="palette palette-emerald">
                        <dt>Pending</dt>                        
                      </dl>
                      <dl class="palette palette-nephritis">
                        <dt>$1,214.00</dt>
                        <dd><small>View More</small></dd>
                      </dl>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="pallete-item">
                      <dl class="palette palette-carrot">
                        <dt>Cancelled</dt>                        
                      </dl>
                      <dl class="palette palette-pumpkin">
                        <dt>$1,003.21</dt>
                        <dd><small>View More</small></dd>
                      </dl>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="pallete-item">
                      <dl class="palette palette-amethyst">
                        <dt>Commissions</dt>                        
                      </dl>
                      <dl class="palette palette-wisteria">
                        <dt>$2,839.65</dt>
                        <dd><small>View More</small></dd>
                      </dl>
                    </div>
                  </div>                                                                                                           
                </div>

                <h3 class="sub-header">Orders Graph</h3>
      <% if notice %>
                  <p class= "alert alert-success"><%= notice %></p>
              <% end %>
              <% if alert %>
                  <p class= "alert alert-danger"><%= alert %></p>
              <% end %>
              
      